<h1>Team Stonoga</h1>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Last Review</th>
  </tr>
  <tr>
    <td>{{#link-to 'users.show' 1 }} Jan Kran {{/link-to}}</td>
    <td>Junior Dev</td>
    <td>2012-10-12</td>
  </tr>
  <tr>
    <td>{{#link-to 'users.show' 2 }} Zygmunt Żołądź {{/link-to}}</td>
    <td>Dev</td>
    <td>2013-04-12</td>
  </tr>
  <tr>
    <td>{{#link-to 'users.show' 3 }} Ksawery Jemioła {{/link-to}}</td>
    <td>CTO</td>
    <td>2013-01-12</td>
  </tr>
</table>
