<h1>Team Stonoga</h1>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Position</th>
    <th>Last Review</th>
  </tr>
  {{#each user in model}}
    <tr>
      <td>{{#link-to 'users.show' user.id}} {{user.fullName}} {{/link-to}}</td>
      <td>{{user.position}}</td>
      <td>{{user.lastReview}}</td>
    </tr>
  {{/each}}
</table>
